.items__container {
  padding: 20px;
  position: relative;
  .items__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .items__header__h2 {
    }
    .items__header__create {
      display: flex;
      align-items: center;
      gap: 7px;
    }
  }
  .items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    gap: 10px;

    @media all and (max-width: 1439px) {
      grid-template-columns: repeat(3, 1fr);
    }
    @media all and (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media all and (max-width: 750px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  .not__found {
    height: 70vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
}
