.profile {
  padding: 20px;

  .collections {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .profile__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logout {
      padding: 10px;
      border: 1px solid var(--border-color);
      border-radius: 3px;
      cursor: pointer;
    }
  }
}
