.aside {
  padding: 10px;
  border-right: 1px solid var(--border-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .aside__navigations {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .aside__theme {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      .aside__theme__moon {
        width: 20px;
        height: 20px;
      }
      .aside__theme__sun {
        height: 20px;
        width: 20px;
      }
    }

    .aside__navigation {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 10px;
      border-radius: 7px;

      .svg {
        fill: var(--text-color);
      }
      &.active {
        background-color: var(--black-grey);
        color: #ffffff;
        .svg {
          fill: #ffffff;
        }
      }
    }
    .logo {
      font-family: cursive;
      font-size: 30px;
      font-weight: 900;
    }
  }
}
