.add__item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);

  .add__item__h2 {
    margin: 0;
  }

  .add__item__btn {
    padding: 10px;
    background-color: rgb(60, 60, 255);
    color: #fff;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
  }
  .spacer {
    width: 400px;
  }
}
