.my__items__container {
  .my__items__title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .my__item__create {
      display: flex;
      gap: 7px;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
    }
  }
  .my__items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .not__found {
    height: 70vh;
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
  }
}
